.container {
    background-color: #f8f8f8;
    margin-top: 50px;
}

#ms_logo {
	height: 30px;
}

.selected-class-name {
    color: red;
}

.backGroundGreen {
    background-color: #BEF781;
}

.backGroundRed {
    background-color: #F71919;
}


#home .separator {
    background-color: #c5c5c5;
}

#selection .row {
    padding : 5px 0 0 0;
}

#selection .panel-body {
    padding : 5px;
}

#selection label {
    margin-bottom : 0;
}

.nav > li > a {
    padding: 5px 10px;
    font-size: 12px;
}

.nav > li > span {
    position: relative;
    display: block;
    padding: 5px 15px;
    background-color: #c5c5c5;
    color: #1D6BAE;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}



@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 180px;
    }

    .sidebar {
        width: 180px;
    }
}

@media print {
    #page-wrapper {
        position: inherit;
        margin: 0;
        padding: 0;
    }
}

.rotate-90 {

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

typeahead.input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.modal-dialog {
    margin: 30px auto;
    width: 900px;
}

div.Tractor, div.Truck {
   width:140px; /*width of your image*/
   height:100px; /*height of your image*/
   background-image:url('./../img/tractor.jpg');
   background-size: 140px 100px;
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}

div.Trailer, div.Semi-Trailer, div.Rigid{
	width:140px; /*width of your image*/
   height:100px; /*height of your image*/
   background-image:url('./../img/trailer.jpg');
   background-size: 140px 100px;
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}


.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.VEHICLE_ORIGIN {
    text-align: center;
    color: #DF0101;
    font-weight: bold;
}

.GROUP_ORIGIN {
    text-align: center;
}


.button-close {
    text-align: right;
}

.button-export {
    text-align: right;
}

.btn-cancel {
    background-color: #CD853F;
    color: white;
}

.btn-details {
    background-color: #F400A1;
    color: white;
}

.btn-electrum {
    background-color: #B8005C;
    color: white;
}

.btn-archive {
    background-color: #ED7F10;
    color: white;
}

.btn-primary:hover {
    color: black;
}

.btn-success:hover {
    color: black;
}

.btn-warning:hover {
    color: black;
}

.btn-danger:hover {
    color: black;
}

.btn-success:hover {
    color: black;
}

.glyphicon-history:before {
    content: "\e231b";
}


bootstrap .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item.selected {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item button {
    background: transparent;
    color: #000;
    opacity: .4;
}

.bootstrap .autocomplete {
    border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
    color: #262626;
    background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
    font-weight: normal;
    background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
    color: #262626;
    background-color: #ffff00;
}
